.loadingOverlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f6f5ff; /* This color matches the List container */
  z-index: 9999;
}

.loadingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  color: #0f172a; /* Adjusting text color to match the new dark background */
}

.spinner {
  margin: 10px;
  border: 6px solid #e5e7eb; /* Lighter color to stand out against the dark background */
  border-top: 6px solid #463fa6; /* Color matching your theme's primary color */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
